a name="top"></a>**The Short Version:**

Click any of the below headings for more information

* <a href="#1"> This is a Civilized Place for Public Discussion </a>
* <a href="#2"> Improve the Discussion </a>
* <a href="#3"> Be Agreeable, Even When You Disagree</a>
* <a href="#4"> Your Participation Counts</a>
* <a href="#5"> If You See Something, say Something</a>
* <a href="#6"> Always Be Civil</a>
* <a href="#7"> Don't Break the Law</a>
* <a href="#"> Keep to One Account</a>
* <a href="#9"> Don't Roleplay</a>
* <a href="#10"> Hide Your Spoilers </a>
* <a href="#11"> Restrictions on NSFW Content</a>

**The Long Version**

<a name="1"></a>**This is a Civilized Place for Public Discussion**

Please treat this place with the same respect you would a public park. We, too, are a shared community resource, a place to share skills, knowledge and interests through ongoing conversation.

These are not hard and fast rules, merely aids to the human judgment of our community. Use these guidelines to keep this a clean, well-lighted place for civilized public discourse.

<a href="#top"><sub>Back to top</sub></a>

<a name="2"></a>**Improve the Discussion**

Help us make this a great place for discussion by always working to improve the discussion in some way, however small. If you are not sure your post adds to the discussion or might detract from its usefulness, think over what you want to say and try again later.

The topics discussed here matter to us, and we want you to act as if they matter to you, too. Be respectful of the topics and the people discussing them, even if you disagree with some of what is being said.

<a href="#top"><sub>Back to top</sub></a>

<a name="3"></a>**Be Agreeable, Even When You Disagree**

You may wish to respond to something by disagreeing with it. That's fine. But, remember to criticize ideas, not people. Please avoid:

* Name-calling.
* Ad hominem attacks.
* Responding to a post's tone instead of its actual content.
* Knee-jerk contradiction. Instead, provide reasoned counter-arguments that improve the conversation.

<a href="#top"><sub>Back to top</sub></a>

<a name="4"></a>**Your Participation Counts**

The conversations we have here set the tone for everyone. Help us influence the future of this community by choosing to engage in discussions that make this forum an interesting place to be and avoiding those that do not.

Statusnet provides tools that enable the community to collectively identify the best (and worst) contributions: favorites, DMs, replies  and so forth. Use these tools to improve your own experience, and everyone elses, too.

Let's try to leave our park better than we found it.

<a href="#top"><sub>Back to top</sub></a>

<a name="5"></a>**If You See a Problem, Flag It**

Moderators have special authority; they are responsible for this site. But so are you. With your help, moderators can be community facilitators, not just janitors or police.

When you see bad behavior, don't reply. It encourages the bad behavior by acknowledging it, consumes your energy, and wastes everyone's time. Just flag it by calling a member of staff in private, using the private messaging system. If the staff hear from you, action will be taken.

In order to maintain our community, moderators reserve the right to remove any content and any user account for any reason at any time. Moderators do not preview new posts in any way; the moderators and site operators take no responsibility for any content posted by the community.

<a href="#top"><sub>Back to top</sub></a>

<a name="6"></a>**Always Be Civil**

Nothing sabotages a healthy conversation like rudeness:

* Be civil. Don't post anything that a reasonable person would consider offensive, abusive, or hate speech.
* Keep it clean. Don't post anything obscene or sexually explicit.
* Respect each other. Don't harass or grief anyone, impersonate people, or expose their private information.
* Respect our site. Don't post spam or otherwise vandalize the place.

These are not concrete terms with precise definitions, avoid even the appearance of any of these things. If you're unsure, ask yourself how you would feel if your post was featured on the front page of the New York Times.

We aspire to be a place safe for young people to hang out. Try to keep things at roughly a PG level. Do not attempt to circumvent our word filter.

Don't forget,this is a public forum, and search engines index these discussions, so they'll be there forever. The best way to avoid future complications is to be nice now. 

<a href="#top"><sub>Back to top</sub></a>

<a name="7"></a>**Don't break the law**

Don't post anything the owner wouldn't be OK with you posting. Respect copyrights and Do-Not-Post requests. Do not upload pirate or otherwise illegal materials. Do not make posts detailing any illegal real world activities you may take part in either! Remember: Google sees everything, and keeps it forever. 

<a href="#top"><sub>Back to top</sub></a>


<a name="9"></a>**Don't Roleplay**

Roleplay is not allowed because it disrupts the timeline. If you would like to roleplay on a site with a similar format as ours, please go to Equestria RP or Everfree RP. Light RP, such as emoting a tail-wag, or performing a barrel roll is acceptable, but only as part of a larger post.

<a href="#top"><sub>Back to top</sub></a>

<a name="10"></a>**Hide Your Spoilers**

When a new episode is aired on the Hub we have a 48 hour NO spoiler rule. Discussion of new episodes can be done with the spoiler button underneath the message box and must be tagged #spoiler. Unencoded or untagged spoilers will be removed from the timeline.

<a href="#top"><sub>Back to top</sub></a>

<a name="11"></a>**NSFW Content Restrictions**

Links to questionable content must be labeled with the hashtag #NSFW. Unsure? Tag it anyway to be safe.

NSFW content must not be uploaded directly to this site, and should instead be placed on a neutral hosting service, such as imgur. This is due to the fact that Statusnet automatically embeds a thumbnail of uploaded images, which some users will not want to see.

<a href="#top"><sub>Back to top</sub></a>

