

.applications {
margin-bottom:18px;
float:left;
width:100%;
}
.applications li {
list-style-type:none;
}
.application img,
#showapplication .entity_profile img,
.form_data #application_icon img,
#apioauthauthorize .form_data img {
max-width:96px;
max-height:96px;
}
#apioauthauthorize .form_data img {
margin-right:18px;
float:left;
}
#showapplication .entity_profile {
width:68%;
}
#showapplication .entity_profile .entity_fn {
margin-left:0;
}
#showapplication .entity_profile .entity_fn .fn:before,
#showapplication .entity_profile .entity_fn .fn:after {
content:'';
}
#showapplication .entity_data {
clear:both;
margin-bottom:18px;
}
#showapplication .entity_data h2 {
display:none;
}
#showapplication .entity_data dl {
margin-bottom:18px;
}
#showapplication .entity_data dt {
font-weight:bold;
}
#showapplication .entity_data dd {
margin-left:1.795%;
font-family:monospace;
font-size:1.3em;
}
.form_data #application_types label.radio,
.form_data #default_access_types label.radio {
width:14.5%;
}