/* Bookmarklet */

#bookmarklet address {
display:none;
}
#bookmarklet .form_notice {
width:auto;
}
#bookmarklet #wrap {
min-width:0;
}

body#bookmarklet #wrap,
body#bookmarklet #header {
width: 670px !important; /* Not sure what this is*/
height: 150px !important;
margin: 0 !important;
padding: 0 !important;
background-position: 0px 0px !important;
background-size: 100% !important;
background-position: top right !important;
overflow: hidden;
}

body#bookmarklet #header {
padding: 6px !important;
}