/* Header block */

#header {
position: relative;
background-color: #ABC;
z-index: 9999;
}

/* Logo */

address {
float: left;
margin: 16px;
margin-bottom: 10px;
z-index: auto;
}

.logo.photo{height: 70px;}

address img + .fn {display: none;}

/* I seriously can't find a single place this is used in the theme. I'm gonna look for it, and if I don't find it I guess I'm removing this declaration? TODO */
.poweredby {
display: block;
width: auto;
background: url(../images/sn-tiny.png) no-repeat top left;
height: 40px;
font-size: 0.8em;
color: #fff;
line-height: 16px;
padding-left: 50px;
position: absolute;
top: 0px;
left: -10px;
z-index: 99;
font-style: normal;
}
.poweredby a {
color: #fff !important;
font-weight: bold;
display: block;
clear: left;
} /* TODO ??????? */

/* The user info card, located opposite the logo along the topmost section of the page */

#user_info_card {
float: right;
width: 380px;
height: 60px;
margin: 20px;
text-align: right;
padding: 4px;
padding-right: 8px;
border-radius: 4px;
margin-left: 0;
position: relative;
}

#user_info_card img {float: right; margin-left: 8px; border-radius: 2px; border: 1px solid #888; box-shadow: 2px 3px 0 rgba(0,0,0,0.4)}

#user_info_card a {color: #123}

#user_info_card p {font-weight: bold; font-size: 13pt; margin-bottom: 8px; width: 322px; overflow-x: hidden; white-space: nowrap}

#user_info_card > ul {
width: auto;
float: right;
}

#user_info_card > ul > li {
margin: 0;
list-style-type: none;
float: left;
width: 20px;
height: 20px;
margin-left: 6px;
position: relative;
}

#user_info_card > ul > li > a {
width: 20px;
height: 20px;
display: block;
background-image: url(../images/usercard-icons.png);
opacity: 0.6;
}
#user_info_card > ul > li > a:hover {opacity: 1}

#usercard_personal > a {background-position: 0px 0px}
#usercard_replies > a {background-position: -20px 0px}
#usercard_dmcounter > a {background-position: -40px 0px}
#usercard_watched > a {background-position: 0px -20px}
#usercard_account > a {background-position: -20px -20px}
#usercard_logout > a {background-position: -40px -20px}

#usercard_personal, #usercard_account {margin-left: 18px !important}

#user_info_card > ul > li > a > span {
display: none;
}

#dmcounter {
display: block!important;
width: 20px;
height: 20px;
text-align: center;
vertical-align: center;
color: black;
font-weight: bold;
border-radius: 10px;
background-color: rgba(0, 255, 0, 0.7);
}
#usercard_dmcounter a:hover{text-decoration: none;}
#dmcounter:empty {display:none!important;}

#nav_usercard {
position: absolute;
top: 20px;
left: 0;
list-style-type: none;
display: none;
background-color: #222;
width: 150px;
overflow-x: hidden;
text-align: left;
}
#nav_usercard.opened {display: block}

#nav_usercard h3 {
color: #CCC;
text-shadow: 1px 1px 0 black;
font-size: 11pt;
margin: 12px 6px 2px;
}

#nav_usercard li:first-child h3 {
margin-top: 4px;
}

#nav_usercard li {
width: 100%;
list-style-type: none;
}

#nav_usercard li li a {
display: block;
color: white;
padding: 2px 6px;
}

#user_info_card li li a:hover {
background-color: black;
text-decoration: none;
}

/* When no user is logged in, the usercard shows a login form and register button */

#user_info_card form {margin-top: -12px; margin-left: 43px}

#user_info_card label.checkbox {width: 200px}

#user_info_card form li {margin-bottom: 2px}

#user_info_card .submit {position: absolute; right: -12px; top: 0px; padding: 6px 15px 6px 16px}

#usercard_register {
position: absolute;
right: 8px;
top: 34px;
border-radius: 4px;
background: url("../images/overlay25.png") repeat-x scroll left top #69B;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
color: white;
font-size: 1em;
padding: 6px 10px;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#usercard_register:hover {
text-decoration: none;
background-color: #9BC;
}

/* Primary navigation */

#site_nav_global_primary {
padding-top: 8px;
padding-bottom: 0px;
height: 28px;
letter-spacing: 0.1em;
font-size: 0.8em;
background: url(../images/global_bg.png) repeat-x top left;
width: 976px;
clear: both;
z-index: 9999 !important;
}

#site_nav_global_primary ul.nav {
width: 715px;
text-transform: uppercase;
margin: 0 8px;
white-space: nowrap;
float: left;
}

#header-search {
float: right;
margin-right: 8px;
margin-top: -2px;
}

#header-search #search-q {
background-color: #111;
border-radius: 4px;
border: 1px solid #111;
border-bottom-color: #666;
border-left-color: #666;
padding: 2px;
color: white;
font-size: 9pt;
width: 170px;
margin-top: 1px;
padding-right: 20px;
}

#header-search input[type=submit] {
width: 18px;
height: 18px;
background-color: transparent;
border: none;
opacity: 0.7;
position: relative;
top: 0px;
right: 24px;
text-indent: 100%;
overflow: hidden;
white-space: nowrap;
background-image: url(../images/searchicon.png);
margin-right: -24px;
}

#header-search input[type=submit]:hover {
opacity: 1;
cursor: pointer;
}

#site_nav_global_primary ul.nav > li {
display: inline;
margin-right: 0px;
margin-left: 0px;
}

#site_nav_global_primary ul.nav > li > a,
li.nav_dropdown > span {
padding: 4px 8px;
line-height: 1.8em;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
color: #fff !important; /*FIXME seems to be unnecessary*/
text-shadow: 0px 1px 0px rgba(0,0,0,0.8);  
border-bottom: 1px solid transparent;
border-left: 1px solid transparent;
white-space: nowrap;
}

#site_nav_global_primary ul.nav > li > a:hover,
li.nav_dropdown:hover > span,
li.nav_dropdown.opened > span {
color: #fff;
background-color: #000;
border-bottom: 1px solid #666;
border-left: 1px solid #666;
text-decoration: none;
}

li.nav_dropdown {
position: relative;
}

#site_nav_global_primary li.nav_dropdown li {
float: none;
}

li.nav_dropdown > ol {
position: absolute;
top: 18px;
left: 0px;
list-style-type: none;
text-align: left;
border-top: 1px solid #666;
display: none;
}

li.nav_dropdown:hover > ol,
li.nav_dropdown.opened > ol {
display: block;
}

li.nav_dropdown a {
color: white;
text-decoration: none;
}

li.nav_dropdown ol a {
background-color: #333;
display: block;
padding: 6px 8px;
border-bottom: 1px solid #666;
border-left: 1px solid #666;
}

li.nav_dropdown a:hover {
background-color: black;
}

/* Site notice (this has kind of been cannibalized for TotW, and modifications have been made to reflect that) */

#site_notice {
padding: 8px;
border-top: 1px solid #888;
background-color: #334;
color: white;
box-shadow: 0 6px 4px -4px black inset;
}

#totw_title {display: inline;font-weight: bold}

#totw_title:after {content: ': '}

#totw_redirect {color: white}

#site_notice p{
margin-bottom: 6px;
}

#site_notice p:last-child{
margin-bottom: 0;
}

#site_notice ul {
margin-left: 15px;
}

/* New user ad (I could theoretically separate this into a CSS file for the plugin, but... no) */

#please_join_our_site {
	padding: 16px;
	width: 944px;
	float: left;
	background: url(../images/newuserad.png) no-repeat top left #89A;
}

#please_join_our_site p {
	margin: 0;
	clear: both;
}

#please_join_our_site li {
	width: 280px;
	float: left;
	list-style-type: none;
	padding: 167px 15px 15px;
}