/* override OStatus plugin style */

#remoteprofile #content_inner > p {
float: left;
}

#form_ostatus_connect.form_settings.dialogbox, #form_ostatus_sub.dialogbox {
width: 76%;
}

#form_ostatus_connect.form_settings.dialogbox legend {
font-size: 1.4em;
font-weight: normal;
padding-bottom: 10px;    
}

#form_ostatus_connect.dialogbox .form_data label,
#form_ostatus_sub.dialogbox .form_data label {
font-weight: normal;
font-size: 1.2em;
width:34%;
}

#form_ostatus_connect.dialogbox .form_data input,
#form_ostatus_sub.dialogbox .form_data input {
float: right;
width: 52% !important; /**/
}

#form_ostatus_connect.dialogbox .form_data .form_guide,
#form_ostatus_sub.dialogbox .form_data .form_guide {
background: none !important; /**/
text-align: right;
margin-right: 16px;
}

.section .entity_actions {
margin-right: 0px !important; /**/
}

.section .entity_remote_subscribe {
color:#000 !important; /**/
padding-left: 26px !important; /**/
background-position: 4px -1183px !important; /**/
}

#filter_tags ul li,
.entity_send-a-message .form_notice,
.form_settings fieldset fieldset,
.entity_moderation:hover ul,
.entity_role:hover ul,
.dialogbox {
border-color:#DDDDDD;
}

.form_settings input.form_action-primary {
background:none;
}

.form_settings .form_note {
background-color:#9BB43E;
}