/* Realtime */

#realtime_actions li {
margin-right: -4px;
}

#realtime_play, #realtime_pause, #realtime_popup {
background-image: url(../images/icons/icons-01.gif);
background-repeat: no-repeat;
background-color: transparent;
}

#realtime_play {
background-position: 0 -2308px;
}
#realtime_pause {
background-position: 0 -2374px;
}
#realtime_popup {
background-position: 0 -1714px;
}

#realtime_play, #realtime_pause, #realtime_popup {
opacity: 0.6;
}

#realtime_play:hover, #realtime_pause:hover, #realtime_popup:hover {
opacity: 1;
}

/*realtime popup*/
body.realtime-popup {
min-width: 100%;
overflow-x: hidden;
}

.realtime-popup #wrap {
padding: 0px !important; /*EXTERNAL OVERRIDE*/
margin: 0px !important; /**/
}

.realtime-popup #content {
padding: 0px !important; /**/
margin: 0px !important; /**/
width: 100% !important; /**/
border-top-right-radius: 4px;
}

.realtime-popup .form_notice {
float: left !important; /**/
position: static !important; /**/
background-color: transparent !important; /**/
height: 108px !important; /**/
width: 96% !important; /**/
max-width: 640px !important; /**/
min-width: 400px !important; /**/
margin: 6px 2% !important; /**/
overflow: hidden !important; /**/
}

.realtime-popup #notice_data-attach_selected {
bottom: 0 !important; /**/
width: 16px !important; /**/
}

.realtime-popup #notice_data-attach_selected code {
display: none !important; /**/
}

.realtime-popup .form_notice fieldset {
width: 100% !important; /**/
margin: 0 !important; /**/
}
.realtime-popup .form_notice textarea {
width: 98% !important; /**/
padding: 6px 0 6px 2% !important; /**/
}

.realtime-popup .form_notice input.submit {
top: 84px !important; /**/
}

.realtime-popup #notice_data-attach {
width: 16px !important; /**/
}